/* Font */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #8a8fa3; }

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    position: absolute; 
    top: 0; 
    bottom: -200px; 
    left: 0; 
    right: 0; 
}

.container-fluid {
    height: 100vh;  
}

.content {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.alignment {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.alignment-search {
    margin-left: 1vw;
    margin-right: 1vw;
}

.result-card {
    width: 30vw; 
    height: 50vh; 
    padding-top: 1vw; 
    padding-bottom: 10vw; 
    margin: 1.5vw;
}

/* Range Slider for Radius */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #8a8fa3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8a8fa3;
  cursor: pointer;
}

.restaurant-photo {
    height: 10vh;
    width: 10vh;
    margin-left: 12.5vw;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }